<suite name="Test Suite" verbose="1">
	<listeners>
		<listener class-name="com.qa.base.TestListener" />
	</listeners>
	<parameter name="browserType" value="firefox" />
	<parameter name="appURL" value="https://google.com" />

	<test name="Admin Tests">
		<classes>
			<class name="com.qa.tests.BasePageTest" />
			<class name="com.qa.tests.SignInPageTest" />
			<class name="com.qa.tests.CreateAccountTest" />
		</classes>
	</test>
</suite>